*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.main{
    display: flex;
    justify-content: center;
    
    align-items: center;
    
    background-color: rgb(244, 250, 250);
    height: 100vh;
    width: 100%;    
}

#box{
    border: 2px solid grey;
    border-radius: 30px;
    height: 350px;
    width: 450px;
    padding: 20px 20px;
    }
    
.skip_btn-align{
    background-color: red;
    margin-left: 87%;
    display: flex;
    justify-content: flex-end;
}
#skip{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;

}

#box ul{
    padding-top:30px ;
    font-size:20px ;
    list-style: none;
}

#result{
    height: 90vh;
}

.all_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 82px;
}

#prev, #submit{
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
    margin-left: 20px;
}